name: Performance

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run performance tests
      id: performance
      run: |
        python test_grid.py | tee output.log
        echo "avg_time=$(tail -n 1 output.log)" >> $GITHUB_OUTPUT
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: performance-profile-${{ steps.performance.outputs.avg_time }}
        path: tests/profile_output.txt
