name: Performance

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run performance tests
      id: performance
      run: |
        python test_grid.py
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: performance-profile
        path: tests/profile_output.txt
    - name: Store and track benchmark results
      uses: benchmark-action/github-action-benchmark@v1
      with:
        # Required: Path to the benchmark results file created in the previous step
        name: 'Performance'
        output-file-path: tests/profile_runtime.json
        tool: customSmallerIsBetter
        github-token: ${{ secrets.GITHUB_TOKEN }}
